<div class= "span5 offset1">
  <article class="post">
    <dl >
      <dt>"<%=@post['title']%>"</dt>
        <dd>Posted by <%=@post['author']%> on <%=@post['published']%></dd><br>
      <dd><%=@post['content']%></dd>
      <div class='clear_both'><br>
        <button class='btn link'><a href='/delete/<%=@post['id']%>'>delete</a></button>
        <button class=' btn link'><a href='/edit/<%=@post['id']%>'>edit</a></button>
      </div>
    </dl>
  </article>
</div>